# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
go2ts-cli
bin


# Test binary, built with `go test -c`
*.test

vendor/*
!vendor/vendor.json
coverage.out
coverage.txt
coverage.html
count.out
test
profile.out
tmp.out
benchmark-results.txt

# Develop tools
.idea/
.vscode/

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# type test result
types.ts

# OS
.DS_Store
Thumbs.db